@charset "utf-8";
@import url(reset.css);
@import url(../font/Reenie_Beanie/stylesheet.css);
@import url(../font/Montserrat/stylesheet.css);
@import url(../font/Pretendard/stylesheet.css);

#wrap {
    max-width: 1024px;
}

/* 공통스타일 정리 */
body {
    background-color: #fff;
    color: black;
    font-family: 'Pretendard';
}

.header .inner,
.header .nav,
.main_visual .text,
.mySwiper,
.best .inner,
.best-02 .inner,
.new .inner,
/* .new-02 .inner, */
.agit .inner .title,
.agit .inner .text_wrap,
.instagram,
.footer .inner {
    max-width: 100%;
    width: calc(100% - 48px);
    margin: 0 auto;
}

h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0;
}

strong {
    font-family: 'Montserrat';
    /* 왜 폰트가 똑같은지 않은지? */
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -2.5%;
    color: white;
}

.title_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.title_wrap h2 {
    margin: 0 auto;
    transform: translate(50%);
}

.all {}

.all a {
    display: flex;
    align-items: center;
}

.all p {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    /* medium */
    line-height: 18px;
    letter-spacing: 0;
    color: #747474;
}

.all img {
    width: 14px;
    height: 12px;
    color: #747474;
    filter: invert(50%) sepia(9%) saturate(17%) hue-rotate(344deg) brightness(88%) contrast(83%);
    /* 아이콘컬러 변경 코드? */
}

.inner .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inner .list .item {
    width: 47.70%;
}

.inner .list .item .image {
    position: relative;
    margin-bottom: 8px;
}

.inner .list .item .image a {
    width: 100%;
    height: 100%;
    display: block;
}

.inner .list .item .image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.inner .list .item .image .util {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.inner .list .item .image .util li {
    width: 25px;
    height: 25px;
    background-color: rgb(224, 224, 224, 0.3);
    border-radius: 50%;
    backdrop-filter: blur(20px);
    /* 배경흐림 */
}

.inner .list .item .image .util a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner .list .item .image .util li img {
    width: 17px;
    height: 17px;
}

.text_wrap {
    margin-bottom: 20px;
}

.text_wrap .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2.5%;
    margin-bottom: 2px;
}

.text_wrap .price-01 {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: -2.5%;
    text-decoration: line-through;
    color: #747474;
    margin-bottom: 2px;
}

.text_wrap .price-02 {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -2.5%;
    margin-bottom: 2px;
    gap: 2px;
}

.text_wrap .price-02 p {
    color: #FF0000;
}

.text_wrap .des {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -2.5%;
    color: #747474;
    display: -webkit-box;
    /* 말줄임표 */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* header */
.header {}

.header .textline {
    width: 100%;
    height: 36px;
    background-color: #B40B8B;
    color: #FFC850;
    font-family: 'Reenie Beanie';
    /* 공백없애면 폰트 적용안됨? */
    white-space: nowrap;
    /* 글자 전체 다 보이게 강제한줄~ */
    overflow: hidden;
}

.header .textline ul {
    display: flex;
    gap: 20px;
}

.header .textline ul li {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: 0;
}

.header .inner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner .logo {
    height: 24px;
}

.header .inner .logo a {
    height: 100%;
}

.header .inner .logo a img {
    height: 100%;
}

.header .inner .util {
    display: flex;
    gap: 16px;
}

.header .inner .util li {
    height: 24px;
}

.header .inner .util li a {
    height: 100%;
}

.header .inner .util li a img {
    height: 100%;
}

.header .nav {
    display: flex;
    gap: 22px;
    margin-bottom: 16px;
}

.header .nav li {
    /* 프리텐다드 */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: #747474;
}

.header .nav li.active {
    /* html, script에 active추가? */
    font-weight: 500;
    /* 미듐 */
    color: black;
}

.header .nav li a {
    width: 100%;
}


/* main */
.main_visual {
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.main_visual .image {
    width: 100%;
}

.main_visual .image a {
    width: 100%;
}

.main_visual .image a img {
    width: 100%;
    /* img 크기값에 정확한 값을 주면 해상도가 바뀌어도 이미지 크기가 고정됨. */
    height: 532px;
    /* 이미지 비율유지하고 싶으면 h값 계산! */
    object-fit: cover;
}

.main_visual .text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 24px;
    transform: translate(0, -50%);
}

.main_visual .text a {}

.main_visual .text a strong {
    margin-bottom: 4px;
    display: block;
    /* a태그이므로 */
}

.main_visual .text a p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -2.5%;
}

.main_visual .view {
    position: absolute;
    bottom: 6px;
    left: 24px;
    transform: translate(0, -50%);
    color: #fff;
}

.main_visual .view a {
    display: flex;
    gap: 2px;
    align-items: center;
}

.main_visual .view a p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -2.5%;
}

.category {
    margin-bottom: 32px;
    margin-left: 24px;
    overflow-x: auto;
    /* auto:스크롤바/ hidden:숨김 */
}

.category::-webkit-scrollbar {
    display: none;
}

.category .list {
    display: flex;
    gap: 10px;
}

.category .list .item {}

.category .list .item .image {
    width: 60px;
    height: 60px;
    background-color: rgb(116, 116, 116, 0.1);
    border-radius: 50%;
}

.category .list .item .image a {
    width: 100%;
    height: 100%;
    display: block;
    /* 여백없애기 */
    display: flex;
    /* 이미지 정렬 */
    align-items: center;
    justify-content: center;
}

.category .list .item .image a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.category .list .item .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2.5%;
    white-space: nowrap;
    text-align: center;
}

.category .list .item .text a p {}

.swiper-wrapper {}

.mySwiper {
    height: 42px;
    background-color: #FFBFFB;
    border-radius: 6px;
    display: flex;
    margin-bottom: 32px;
}

.swiper-wrapper .swiper-slide {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2.5%;
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    bottom: var(--swiper-pagination-bottom, 16px);
}

:root {
    --swiper-theme-color: #B40B8B;
}

.best {
    margin-bottom: 12px;
}

.best .inner {}

.best .inner .title_wrap {}

.best .inner .title_wrap h2 {}

.best .inner .title_wrap .all {}

.best .inner .title_wrap .all a {}

.best .inner .title_wrap .all a p {}

.best .inner .title_wrap .all a img {}

.best .inner .list {}

.best .inner .list .item {}

.best .inner .list .item .image {}

.best .inner .list .item .image a {}

.best .inner .list .item .image a img {}

.best .inner .list .item .image .util {}

.best .inner .list .item .image .util li {}

.best .inner .list .item .image .util li img {}

.best .inner .list .item .text_wrap {}

.best .inner .list .item .text_wrap .title {}

.best .inner .list .item .text_wrap .price-01 {}

.best .inner .list .item .text_wrap .price-02 {}

.best .inner .list .item .text_wrap .price-02 p {}

.best .inner .list .item .text_wrap .price-02 span {}

.best .inner .list .item .text_wrap .des {}

.best-02 {
    height: 100%;
    /* 모바일에서 화면가득한 단위는? */
    position: relative;
    margin-bottom: 32px;
}

.best-02 .video {}

.best-02 .video a {}

.best-02 .video a video {
    width: 100%;
    height: 141.86%;
    object-fit: cover;
}

.best-02 .inner {}

.best-02 .inner>.text {
    position: absolute;
    top: 10px;
}

.best-02 .inner .text a {}

.best-02 .inner .text a strong {
    margin-bottom: 4px;
    display: block;
    /* a태그이므로 */
}

.best-02 .inner .text a p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -2.5%;
    color: #fff;
}

.best-02 .inner .product_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 16px;
    left: 0;
    /* left 0을 준다음에 padding으로 조절 */
    padding: 0 24px;

}

.best-02 .inner .product_wrap .image {
    width: 22.4%;
    height: 100%;
    background-color: rgb(239, 239, 239, 0.8);
    border-radius: 12px;
}

.best-02 .inner .product_wrap .image a {
    width: 100%;
    display: block;
    /* 인라인태그이므로 */
}

.best-02 .inner .product_wrap .image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* a보다 img가 조금 더 튀어나와서 */
    border-radius: 12px;
    opacity: 0.8;
}

.best-02 .inner .product_wrap .text {
    width: 60.8%;
    background-color: rgb(239, 239, 239, 0.8);
    border-radius: 12px;
    align-items: center;
    padding: 8px 10px;
}

.best-02 .inner .product_wrap .text .title {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -2.5%;
}

.best-02 .inner .product_wrap .text .price {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -2.5%;
}

.best-02 .inner .product_wrap .text .des {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -2.5%;
}

.new {
    margin-bottom: 12px;

}

.new-02 {
    width: 100%;
    margin-bottom: 32px;
}

.new-02 .inner {
    padding-bottom: 56.25%;
    position: relative;
}

.new-02 iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 100px;
}

.new-02 .text {}

.new-02 .text a {
    display: block;
    width: 100%;
}

.new-02 .text a p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -2.5%;
    color: #747474;
    text-align: center;
    margin-bottom: 12px;
}

.agit {
    margin-bottom: 32px;
}

.agit .inner {}

.agit .inner .title {}

.agit .inner .title h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

.agit .inner .title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -2.5%;
    margin-bottom: 12px;
}

.agit .inner .list {}

.agit .inner .item {
    width: 100%;
}

.agit .inner .item .image {}

.agit .inner .item .image img {
    width: 100%;
    height: 532px;
    object-fit: cover;
}

.agit .inner .item .text_wrap {}

.agit .inner .item .text_wrap .title {}

.agit .inner .item .text_wrap .title .address {}

.agit .inner .item .text_wrap .title .address p {}

.textline-02 {
    width: 100%;
    height: 36px;
    font-family: 'Reenie Beanie';
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 32px;
}

.textline-02 ul {
    display: flex;
    gap: 8px;
}

.textline-02 ul li {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
}

.instagram {
    margin-bottom: 32px;
}

.instagram .inner {
    width: 100%;
    flex-wrap: wrap;
}

.instagram .inner .title {}

.instagram .inner .title h2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.instagram .inner .title p {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -2.5%;
    color: #747474;
    text-align: center;
    margin-bottom: 12px;
}

.instagram .inner .image {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 14px;

}

.instagram .inner .image a {
    width: 31%;

}

.instagram .inner .image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer */
.footer {
    width: 100%;
    background-color: #B40B8B;
    border-radius: 18px 18px 0 0;
}

.footer .inner {
    color: rgb(255, 255, 255, 0.8);
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -2.5%;
    padding: 30px 0;
}

.footer .inner .title_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer .inner .title_wrap .logo-02 {
    height: 24px;
}

.footer .inner .title_wrap .logo-02 a {
    height: 100%;
}

.footer .inner .title_wrap .logo-02 a img {
    width: 96px;
}

.footer .inner .title_wrap .sns {
    display: flex;
    gap: 10px;
}

.footer .inner .title_wrap .sns li {}

.footer .inner .title_wrap .sns li a {}

.footer .inner .title_wrap .sns li a img {
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(143deg) brightness(113%) contrast(106%);
    opacity: 0.8;
}

.footer .inner .customer {
    margin-bottom: 6px;
}

.footer .inner .customer p {
    font-weight: bold;
}

.footer .inner .customer span {}


.footer .inner .info {
    margin-bottom: 16px;
}

.footer .inner .info p {}

.footer .inner .info-02 {
    display: flex;
    margin-bottom: 6px;
    gap:8px;
}

.footer .inner .info-02 li {}
.footer .inner .info-02 li:nth-child(3) {
    font-weight: bold;
}

.footer .inner .info-02 li a {}

.footer .inner .copyright {}

.footer .inner .copyright p {}